{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "main" }}
<div class="row">
  <div class="col-md-8">

    <header class="p-page-title">
      <h1 class="title">{{ .Title }}</h1>
    </header>

    <ul class="p-terms">
      {{ $data := .Data }}
      {{ range $key, $value := .Data.Terms }}
      <li>
        <h2 class="terms-title">
          <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})
        </h2>
      </li>
      {{ end }}
    </ul>

  </div>
  <div class="col-md-4">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ end }}

