{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ $alltoc := sort $.Site.Data.playtoc "sortkey"}}
<div class="row">
  <div class="col-md-8">
    <nav class="p-crumb">
      <ol>
        <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {{ with .Section }}
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
        {{ end }}
        <li class="active">{{ .Title }}</li>
      </ol>
    </nav>
    <article class="single">
      <div class="content-inner">
        <h1 class="title">{{ .Title }}</h1>
        <div class="article-body">
          {{ partial "index_body.md" | markdownify }}
        </div>
      </div>
    </article>
  </div>

  <div class="col-md-4">
    <section>
      <header>Version</header>
      <div>
        <ul>
          {{ range $alltoc }}<li class="p-terms"><a href="{{ .contents_path }}/index.html">{{  chomp .title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </section>
    <section>
      <header>Link</header>
      <div>
        <ul>
          <li class="p-terms"><a href="https://github.com/bizreach-inc/play2-hands-on">GitHub</a></li>
          <li class="p-terms"><a href="https://www.playframework.com/">Play Framework</a></li>
          <li class="p-terms"><a href="http://slick.lightbend.com/">Slick</a></li>
          <li class="p-terms"><a href="http://scalikejdbc.org/">ScalikeJDBC</a></li>
          <li class="p-terms"><a href="https://github.com/bizreach/slick-reference">Slick Cheat Sheet</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
{{ end }}
