{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ $alltoc := sort $.Site.Data.playtoc "sortkey"}}
<div class="row">
  <div class="col-md-8">
    <nav class="p-crumb">
      <ol>
        <li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        {{ with .Section }}
        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ $.Site.BaseURL }}{{ . | urlize }}/" itemprop="url"><span itemprop="title">{{ . }}</span></a></li>
        {{ end }}
        <li class="active">{{ .Title }}</li>
      </ol>
    </nav>
    <article class="single">
      <div class="content-inner">
        <h1 class="title">Play2 + Slick / ScalikeJDBCハンズオン</h1>
        <div class="article-body">
          <h2>目的</h2>
          <p>
            Play2 + Slick / ScalikeJDBCを使ってWebアプリケーションを作成するハンズオンです。
          </p>
          <p>
            主な目的は以下の通りです。
          </p>
          <ul>
            <li>Scalaに触れてもらう</li>
            <li>数時間でとりあえず動くものを作ってみる</li>
          </ul>
          <p>
            そのため、なるべくフレームワークが提供する機能をそのまま使います。
          </p>
          <h2>構成</h2>
          <p>
            使用するフレームワークおよびバージョンは以下の通りです。
          </p>
          <ul>
            {{ range $alltoc }}<li><a href="{{ .contents_path }}/index.html">{{  chomp .title }}</a></li>
            {{ end }}
          </ul>
          <h2>内容</h2>
          <p>
            ユーザ情報のCRUDを行う簡単なアプリケーションを作成します。また、後半では同様のCRUD処理を行うJSONベースのWeb APIも作成します。
          </p>
          <p>
            なお、このハンズオンコンテンツは<a href="https://github.com/bizreach/play2-hands-on">GitHub</a>で管理されています。
            リポジトリ内にはハンズオンで作成するWebアプリケーションの<a href="https://github.com/bizreach/play2-hands-on/tree/master/projects">完成版</a>も含まれていますので必要に応じて参照してください。
          </p>
          <h2>フィードバック</h2>
          <p>
            ご意見・質問などはGitHubの<a href="https://github.com/bizreach/play2-hands-on/issues">Issues</a>にお願いします。
            もちろん<a href="https://github.com/bizreach/play2-hands-on/pulls">Pull Requests</a>も歓迎です。
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="col-md-4">
    <section>
      <header>バージョン</header>
      <div>
        <ul>
          {{ range $alltoc }}<li class="p-terms"><a href="{{ .contents_path }}/index.html">{{  chomp .title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </section>
    <section>
      <header>リンク</header>
      <div>
        <ul>
          <li class="p-terms"><a href="https://github.com/bizreach/play2-hands-on">GitHub</a></li>
          <li class="p-terms"><a href="https://www.playframework.com/">Play Framework</a></li>
          <li class="p-terms"><a href="http://slick.lightbend.com/">Slick</a></li>
          <li class="p-terms"><a href="http://scalikejdbc.org/">ScalikeJDBC</a></li>
          <li class="p-terms"><a href="https://github.com/bizreach/slick-reference">Slickチートシート</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
{{ end }}
