<aside class="site">

  <section>
    <header>latests</header>
    <div>
      <div class="row">
        {{ range $i, $p := (first 10 .Site.Pages) }}
        <div class="col-md-12 col-sm-6 col-xs-12">{{ .Render "li_sm" }}</div>
        {{ if eq (mod (add $i 1) 2) 0 }}<div class="col-sm-12"></div>{{ end }}
        {{ end }}
      </div>
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section>
    <header>{{ $key | singularize }}</header>
    <div>
      <ul class="p-terms">
        {{ range first 10 $value.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
      </ul>
    </div>
  </section>
  {{ end }}

</aside>
